// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.triangle_container {
  width:250px;
}

.triangle_detail_container {
  width:250px;
}

button {
  vertical-align:top;
}